.cv-section {
  padding: 10rem 5%;
  background: lightblue;
  color: black;
}

.iframe-wrapper {
  position: relative;
  width: 100%;
  max-width: 210mm;
  height: 300mm;
  margin: auto;
}

.iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}