/* Navbar.css */
.navbar {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  background: #647891;
  align-items: center;
  gap: 0.8em;
  padding: 0;
  padding-right: 1em;
  z-index: 3;
}

.navbar a {
  display: inline;
  padding: 0 10px;
  height: 50px;
  line-height: 50px;
  color: white;
  font-weight: bold;
}

.navbar select {
  height: 35px;
  background-color: darkslateblue;
  color: white;
  border-radius: 0.5em;
  padding-left: 0.4em;
}

.navbar a:hover {
  background-color: #bbb;
  color: black;
}

@media (max-width: 480px) {
  .navbar {
    gap: 0;
    padding: 0;
  }

  .navbar a {
    padding: 0 5px;
    font-size: 0.9em;
    font-weight: normal;
  }
}