.ctn-foto-name {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 15px;
}

.ctn-foto-name .ctn-foto1 {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
}

.ctn-foto-name .ctn-foto1 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.ctn-foto-name h2 {
  color: white;
  font-size: 1.2em;
  text-align: center;
  font-weight: 600;
  line-height: 1.5;
}

.ctn-foto-name h2 span {
  font-size: 0.7em;
  font-weight: 300;
}