.skills {
    margin-bottom: 18px;
}

.skills ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px 10px;
    list-style: none;
}

.skills .text {
    margin-bottom: 10px;
}

.skills .percent {
    position: relative;
    width: 100%;
    height: 8px;
    background: #bbb;
    display: block;
    margin-bottom: 5px;
    margin-top: 2px;
    border-radius: 5px;
}

.skills .percent div {
    position: absolute;
    height: 100%;
    background: aqua;
    border-radius: 5px;
}