.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background: var(--main-gray);
}

.contact-section-header>h2 {
  font-size: 3em;
  margin-bottom: 2em;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.contact-details {
  /* width: 12em; */

  padding: 0.8em 1.5em;
  border-radius: 1em;
  font-size: 1.8em;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
  margin: 0.5em 1em;
  border: 1px solid white;
}

.contact-details:hover {
  transform: translateY(8px);
  background: lightblue;
}