.projects-section {
  text-align: center;
  padding: 2em;
  background: var(--bg1);
}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 1.5em auto;
  border-bottom: 4px solid currentColor;
}

.projects-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto 3em;
}

.project:hover .project-title {
  background-color: #444;
}

.project-image-wrapper {
  flex: 1 1 280px;
  max-width: 360px;
  aspect-ratio: 9 / 7;
  display: flex;
  align-items: flex-end;
  border-radius: 1em;
  overflow: hidden;
  margin-bottom: 10px;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.project-title {
  font-size: 1.1em;
  font-weight: 600;
  max-width: 360px;
  padding: 1em 0;
  background-color: #777;
  border-radius: 1em;
}

@media (max-width: 400px) {
  .projects-section {
    padding: 1em;
  }
}