:root {
  --main-white: #f0f0f0;
  --bp-blue-light: #29D5FF;
  --height-nav: 40px;
  --main-gray: #303841;

  --bg1: #A6BA6D;
  --bg2: #647891;
  --height-nav: 4em;
  --main-gray: #303841;
  /* border: 1px solid red; */
}

html,
body,
#root {
  height: 100%;
}

html {
  font-family: 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
}

#root {
  text-align: center;
  font-size: 16px;
  color: white;
  background-color: lightblue;
}